@mixin flexCenter($direction) {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

header {
    @include flexCenter(column);
    background-color: lightblue;
    height:100vh;
    // nest inside of the tag
    button {
        background-color: $textColor;
        &:hover{
            background-color: $primaryBtn;
        }
        &::after{
            content: "Hah"
        }
    }
}